:root {
    --background-color: #f9f9f9;
    --font-color: #333333;
    --siteColor: #5e66fa;
    --border-color: #dcdcdc;
    --hover-color: #4a5bdc;
}

.QuestionWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.QuestionToolBar {
    background-color: var(--siteColor);
    color: white;
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0; 
}
.QuestionBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;
    margin: 0; /
}

input[name="question"] {
    border: none;
    border-bottom: 2px solid var(--border-color);
    padding: 0.5rem;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

input[name="question"]:focus {
    border-bottom: 0.1rem solid var(--siteColor);
    box-shadow: none; 
}

select[name='feedbackType']{
    border: none;
}


.fileUploadWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.fileUploadLabel {
    background-color: var(--siteColor);
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
}


.fileUploadLabel:hover {
    background-color: var(--hover-color);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    border: 1px solid var(--hover-color);
}


.fileUploadInput {
    display: none;
}