:root {
    /*add font family*/
    /*---study-color: #b1b4eb;*/

}

body {
   background-color: lightgoldenrodyellow;
}

.studyFormWrapper {
    margin-left: 4rem;
    margin-right: 4rem;
}

.createStudyTitle {
    font-size: 2.5rem;
    color: black;
    font-family: sans-serif;
}

.studyFormHeader {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 20px; 
}

.buttonLine {
    display: flex;
    gap: 1rem;
}

.QuestionListWrapper {
    margin-top: 4rem;
}