body {
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

input, button {
    margin: 10px auto;
    max-width: 500px;
    padding: 4px;
    width: 80%;
}
